<div class="jumbotron">

<h1><i class="fa fa-circle-o-notch"></i>At0mic_Falaf3l</h1>
  <p>This is a project management template. Blarp and all that.</p>
    <%= link_to "Sign Up", new_user_registration_path , class: "btn btn-primary btn-lg" %>
</div>
